@model _24dentistasdelisboa.Models.CommentViewModel

<h4>Deixe o seu comentário:</h4>
@using (Html.BeginUmbracoForm<_24dentistasdelisboa.Controllers.CommentFormSurfaceController>("HandleFormSubmit"))
{
    <div class="form-group col-lg-4">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Nome" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-lg-4">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "SeuEmail@email.com" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-lg-8">
        @Html.TextAreaFor(m => m.Comment, new { @class = "form-control", @placeholder = "Deixe aqui o seu comentário", @rows = "4" })
        @Html.ValidationMessageFor(m => m.Comment)
    </div>
    <div class="clearfix"></div>
    <button type="submit" class="btn btn-primary">Submeter</button>
}

