@inherits UmbracoTemplatePage

<!-- Differentiators -->
<section class="section">

    <div class="container">

        <div class="row">

            <article class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i>@CurrentPage.titleDifferentiator1</h3>
                <p>@CurrentPage.descriptionDifferentiator1</p>
            </article>

            <article class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i>@CurrentPage.titleDifferentiator2</h3>
                <p>@CurrentPage.descriptionDifferentiator2</p>
            </article>

            <article class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i>@CurrentPage.titleDifferentiator3</h3>
                <p>@CurrentPage.descriptionDifferentiator3</p>
            </article>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- Differentiators -->