@using _24dentistasdelisboa.App_Code;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";

    var itemsList = CurrentPage.Children.Where("UmbracoNaviHide == false");

    var numberOfItemsPerPage = 3;

    var paging = Paging.GetPages(itemsList.Count(), numberOfItemsPerPage);

    var selectedItemsFromItemsList = itemsList.Skip(paging.Skip).Take(paging.Take).ToList();
}

<!-- .container -->
<div class="container">
    <header class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                @CurrentPage.Name
            </h1>
            @Umbraco.RenderMacro("Breadcrumb")
        </div>
    </header>

    @foreach (var item in selectedItemsFromItemsList)
        {
        <section class="row">

            <div class="col-md-7">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="@item.GetPropertyValue("image")">
                </a>
            </div>

            <article class="col-md-5">
                <h3>@item.Name</h3>
                <div class="truncateDescription fadeTruncate">
                    @Umbraco.StripHtml(item.GetPropertyValue("bodyText"))
                </div>
                <p><a href="@item.Url" class="btn btn-primary" role="button">Saiba mais</a></p>
            </article>

        </section>

        <hr>
        }

        @RenderPaging.RenderPagingList(paging, CurrentPage.Id)

</div>
<!-- /.container -->